<div class="compo1">

 <div class="right">
    <p>
        Une heure de lecture
         <br>
         est le souverain remède 
          <br>
         contre les dégoûts de la vie.”
     </p>
     <img [src]="cheminImage">
     
 </div>
    
 <div class="left">
     <p>
    La lecture d'un roman nous apporte tout d'abord, un bon moment, un plaisir où les émotions et les sensations interviennent de façon très importante; mais un roman est avant tout une histoire et une découverte d'un monde imaginaire qui nous emporte dans un monde recréé par nous même, qui porte un regard sur le nôtre; enfin nous verrons que le roman permet de nous enrichir et de se découvrir tout en mûrissant.
     </p>
 </div>

</div>